.popular > img
{
    max-width: 155px;
}

.popularList > li
{
    border-bottom: 1px solid #CCCCCC;
    line-height:normal;
    height:60px;
}

.popularList > li > img
{
    width:80px;
    width:70px;
    vertical-align: text-top;
    margin-right:10px;
}

.us > p
{
    text-align: left;
    vertical-align:text-top;
    height:250px;
}

.us > p > img
{
    width:250px;
    height:250px;
    margin-right:10px;
}

#contactForm > input, #contactForm > textarea
{
    margin-bottom: 5px;
}

#resetButton
{
    background: #FFAAAA;
}

.infoMap > img
{
    width:100px;
}

#searchForm
{
    float:right;
    margin-right:10px;
    margin-top: -15px;
}

.major > span
{
    color: #858585;
}

.footerStyle
{
    text-align:left;
}

.timeStamp
{
    font-style: italic;
    color:#AAAAAA;
    font-size:11px;
}

.ourShopping
{
    margin-right:15px;
}

#cartList
{
    font-size:12px;

}

#cartList > li
{
    border-bottom: 1px solid #CCCCCC;
    line-height:normal;
    height:55px;
}

#cartList > li > img
{
    height: 50px;
    width: 55px;
    vertical-align: text-top;
    margin-right:10px;
}

#total
{
    padding-left:65px;
    font-size:18px;
    padding-top:5px;
}

.rightAlign
{
    text-align:right;
    vertical-align:text-top;
    float:right;
    font-size:18px;
}